.forgot-password-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: white;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 2px #ccc;
  z-index: 1;
}
.forgot-password-popup p {
  margin-top: 0px;
  font-size: 1.5rem;
}
.forgot-password-popup h2 {
  margin-top: 0px;
}

.forgot-password-popup input[type="email"] {
  display: block;
  margin: 10px auto;
  width: 100%;
  padding: 5px;
}
.forgot-password-popup input[type="password"] {
  display: block;
  margin: 10px auto;
  width: 100%;
  padding: 5px;
}
.forgot-password-popup button {
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.forgot-password-popup button:disabled {
  cursor: not-allowed;
}
